<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
     <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .notification {
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}
.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
    </style>
    <script>
        user = '{{request.user}}'
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'categories' %}">Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link notification" href="{% url 'cart' %}">
          <span>Inbox</span>
            <span class="badge" id="order_count">{{tot_ord}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}" id="login"></a>
    </li>
          <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Log out</a>
    </li>
  </ul>

</nav>
{% block content %}
{% endblock content %}
<script type="text/javascript" src="{% static 'js/cart.js' %}">	</script>
</body>
</html>